<div class="testimonial-container flex items-center flex-col mx-auto">
                <h2 class="font-bold text-white">Témoignage</h2>
                <p class="testimonial-content font-serif text-white"><%=testimonial.content%></p>
                <p class="testimonial-author text-white font-medium"><%=testimonial.author%></p>
            </div>