             <li>
                                                    <a href="<%=plan_path(name: plan.url)%>">
                                                        <%=plan.title%>
                                                        
                                                                                                                                                                    </a>
                                                </li>