<li>
                                                    <a href="<%=showcat_path(name: category.url)%>">
                                                        <%=category.title%>
                                                        
                                                                                                                                                                    </a>
                                                </li>