<div class="rubrique">
        <div class="rubrique-content">
            <div class="rubrique-head">
                <div class="overlay"></div>
                <img src="<%=category.image%>" alt="">
                <h4 class="flex items-center"><a class="text-white" href="<%=showcat_path(name: category.url)%>"><%=category.title%></a></h4>
            </div>
        </div>
    </div>
</div>