<div class="overflow-hidden dispositif-wrapper">
    <div class="dispositif-head">
        <div class="overlay"></div>
        <img src="<%=plan.image%>" alt="">
        <h4 class="flex items-center"><a href="<%=plan_path(name: plan.title)%>"><%=plan.title%></a></h4>
    </div>

    <div class="px-6 py-4 bg-white content-dispositif" data-equalize="card-rubrique-content">
        <p></p>

    </div>

    <div class="bg-white dispositif-link flex items-center standard-green">
        <a class="font-cursive text-white" href="<%=plan_path(name: plan.title)%>">Voir le dispositif</a>

        <svg width="15px" height="10px" viewBox="0 0 15 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g transform="translate(-365.000000, -10.000000)" fill="#FFFFFF" fill-rule="nonzero"><path d="M375.59375,18.9531257 C375.406249,18.7656248 375.406249,18.5781266 375.59375,18.3906257 L378.734375,14.9218757 L365.375,14.9218757 C365.124999,14.9218757 365,14.796877 365,14.5468757 C365,14.2968745 365.124999,14.1718757 365.375,14.1718757 L378.734375,14.1718757 L375.59375,10.7031257 C375.406249,10.5156248 375.406249,10.3281266 375.59375,10.1406257 C375.781251,9.95312477 375.968749,9.95312477 376.15625,10.1406257 C378.625012,12.8593893 379.875,14.2343755 379.90625,14.2656257 C379.96875,14.328126 380,14.4218751 380,14.5468757 C380,14.6718763 379.96875,14.7656254 379.90625,14.8281257 L376.15625,18.9531257 C376.09375,19.015626 376,19.0468757 375.875,19.0468757 C375.749999,19.0468757 375.65625,19.015626 375.59375,18.9531257 Z"></path></g></svg>
    </div>
</div>